.BurgerControls {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px gray;
    margin: auto;
    padding: 10px 0;
}

.BurgerControls p{
    font-size: 30px;
    font-weight: bold;
}

